:root {
  --colorBleu2022: #0f606b;
  --coloOrange2022: #ee7636;
  --colorRosePale2022: #fdece3;
  --colorRoseFuschia2022: #af136d;

  --fontSizeP:1.2rem;
  
  --fontSizeH1Small:2rem;
  --fontSizeH1Medium:3rem;
  --fontSizeH1Large:4rem;
  --fontSizeH1ExtraLarge:5rem;

  --fontSizeH2:1.6rem;

  --marginExtraSmall:0.5rem;
  --marginSmall:1rem;
  --marginMedium:2rem;
  --marginLarge:3rem;
  --marginExtraLarge:5rem;

  --paddingSmall:3rem;
  --paddingMedium:4rem;
  --paddingLarge:5rem;
  --paddingExtraLarge:6rem;
  
  --box-shadow:0 4px 16px 0 rgb(28 30 33 / 17%);
  --border-radius: var(--border-radius);
}

body {
  font-family: karla, Arial, Helvetica, sans-serif;
  background-color: var(--colorBleu2022);

  position: relative;
  bottom: 1rem;
}

.header {
  grid-column: 2 / 3;

  display: flex;
  justify-content: center;
}

.header img {
  position: relative;
  top: 40%;
  z-index: 1;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.separator {
  height: 1rem;
  background-color: var(--colorRosePale2022);
}

.content {
  grid-column: 2 / 3;
  margin-top: var(--marginSmall);
}

.references-images-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  background-color: white;
  margin-bottom: var(--marginSmall);
}
.references-images-layout img {
  max-width: 8rem;
  max-height: 8rem;
  margin: var(--marginSmall);
}

.groups-images-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

  background-color: white;
  margin-bottom: var(--marginLarge);
}
.groups-images-layout img {
  max-width: 8rem;
  max-height: 8rem;
  margin: var(--marginSmall);
}

.footer {
  grid-column: 2 / 3;

  display: flex;
  justify-content: center;
}

.texte {
  display: flex;
  justify-content: space-between;
}

.paragraphe {
  background-color: white;
  
  padding-top: var(--paddingMedium);
  padding-right: var(--paddingSmall);
  padding-bottom: var(--paddingMedium);
  padding-left: var(--paddingSmall);
}
.paragraphe p {
  color: black;
  text-align: justify;
  font-size: var(--fontSizeP);
}
.paragraphe h1 {
  color: var(--colorRoseFuschia2022);  
  margin-bottom: var(--marginLarge);      
}
.paragraphe h2 {
  color: var(--colorBleu2022);
  font-size: var(--fontSizeH2);
  margin-top: var(--marginLarge);
  margin-bottom: var(--marginMedium);
}
.paragraphe a {
  color: var(--coloOrange2022);
  text-align: justify;
  text-decoration: underline;
  font-size: var(--fontSizeP);
}
.paragraphe a:hover {
  text-decoration: none;
}

.emphase {
  background-color: var(--colorRosePale2022);  
  padding-top: var(--paddingMedium);
  padding-right: var(--paddingSmall);
  padding-bottom: var(--paddingMedium);
  padding-left: var(--paddingSmall);  
}
.emphase p {
  color: var(--colorBleu2022);
  text-align: justify;
  font-size: var(--fontSizeP);
}
.emphase h1 {
  color: var(--colorRoseFuschia2022);  
  margin-bottom: var(--marginLarge);      
}
.emphase h2 {
  color: var(--coloOrange2022);
  font-size: var(--fontSizeH2);
  margin-top: var(--marginLarge);
  margin-bottom: var(--marginMedium);
}
.emphase a {
  color: var(--coloOrange2022);
  text-align: justify;
  text-decoration: underline;
  font-size: var(--fontSizeP);
}
.emphase a:hover {
  text-decoration: none;
}
.emphase-card {
  background-color: var(--colorRosePale2022);  
  padding-top: var(--paddingMedium);
  padding-right: var(--paddingSmall);
  padding-bottom: var(--paddingMedium);
  padding-left: var(--paddingSmall);  
}
.emphase-card h2 {
  color: var(--coloOrange2022);
  font-size: var(--fontSizeH2);
  margin-top: var(--marginLarge);
  margin-bottom: var(--marginMedium);
}
.emphase-card a {
  background-color: var(--coloOrange2022);
  border-color: var(--coloOrange2022);
}
.emphase-card a:hover {
  background-color: var(--colorBleu2022);
  border-color: var(--colorBleu2022);
}

.couverture {
  background-color: var(--coloOrange2022);  
  padding-top: var(--paddingMedium);
  padding-right: var(--paddingSmall);
  padding-bottom: var(--paddingMedium);
  padding-left: var(--paddingSmall);  
}
.couverture p {
  color: white;
  text-align: justify;
  font-size: var(--fontSizeP);
}
.couverture h1 {
  color: white;  
  margin-bottom: var(--marginLarge);      
}
.couverture h2 {
  color: white;
  font-size: var(--fontSizeH2);
  margin-top: var(--marginLarge);
  margin-bottom: var(--marginMedium);
}
.couverture a {
  color: var(--colorBleu2022);
  text-align: justify;
  text-decoration: underline;
  font-size: var(--fontSizeP);
}
.couverture a:hover {
  text-decoration: none;
}
.principale {
  background-color: var(--colorBleu2022);  
  padding-top: var(--paddingMedium);
  padding-right: var(--paddingSmall);
  padding-bottom: var(--paddingMedium);
  padding-left: var(--paddingSmall);  
}
.principale p {
  color: white;
  text-align: justify;
  font-size: var(--fontSizeP);
}
.principale h1 {
  color: var(--colorRoseFuschia2022);  
  margin-bottom: var(--marginLarge);      
}
.principale h2 {
  color: var(--colorBleu2022);
  font-size: var(--fontSizeH2);
  margin-top: var(--marginLarge);
  margin-bottom: var(--marginMedium);
}
.principale a {
  color: var(--coloOrange2022);
  text-align: justify;
  text-decoration: underline;
  font-size: var(--fontSizeP);
}
.principale a:hover {
  text-decoration: none;
}
.secondaire p {
  color: white;
  text-align: justify;
  font-size: var(--fontSizeP);
}
.secondaire h1 {
  color: var(--colorRoseFuschia2022);  
  margin-bottom: var(--marginLarge);      
}
.secondaire h2 {
  color: var(--colorBleu2022);
  font-size: var(--fontSizeH2);
  margin-top: var(--marginLarge);
  margin-bottom: var(--marginMedium);
}
.secondaire a {
  color: var(--coloOrange2022);
  text-align: justify;
  text-decoration: underline;
  font-size: var(--fontSizeP);
}
.secondaire a:hover {
  text-decoration: none;
}

.p-inline p {
  display: inline;
}

.p-group p {
  line-height: 1rem;
}

.p-center p {
  text-align: center;
}


.cols-layout {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: center;
  align-items: center;
}
.right-col img {
  max-width: 26em;
  justify-self: right;
  margin-left: var(--marginSmall);  
  box-shadow: var(--box-shadow);
}

.accueil-layout {
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  margin-bottom: var(--marginLarge);
}
.accueil-layout img{
  max-width: 26em;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.accueil-relations-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: var(--marginLarge);
}
.accueil-relations-layout div{
  max-width: 16rem;
}
.accueil-relations-texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--marginLarge);
}

.btn-link {
  color: white
}
.btn-link:hover {
  color: var(--coloOrange2022);
}
.btn-link:focus {
  color: var(--coloOrange2022);
}

hr {
  background-color: var(--dark-orange);
}
@media only screen and (min-width: 1200px) {
  .main-layout {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  .header > img {
    max-height: 10em;
    width: auto;
  }
  h1 {
    font-size: var(--fontSizeH1Large);  
  }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .main-layout {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  .header img {
    max-height: 8em;
    width: auto;
  }
  .paragraphe h1 {
    font-size: var(--fontSizeH1Medium);  
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .main-layout {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
  }
  .header img {
    max-height: 6em;
    width: auto;
  }  
  .paragraphe h1 {
    font-size: var(--fontSizeH1Medium);  
  }
}

@media only screen and (max-width: 768px) {
  .main-layout {
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
  }
  .header img {
    max-height: 4em;
    width: auto;
  }
  .paragraphe h1 {
    font-size: var(--fontSizeH1Small);  
  }
}