:root {
  --bleu2022: #0f606b;
  --orange2022: #ee7636;
  --rosepale2022: #fdece3;
  --rosefuschia2022: #af136d;
}

body {
  font-family: karla, Arial, Helvetica, sans-serif;
  background-color: var(--bleu2022);

  position: relative;
  bottom: 1em;
}

.header {
  grid-column: 2 / 3;

  display: flex;
  justify-content: center;
}

.header img {
  position: relative;
  top: 40%;
  z-index: 1;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.separator {
  height: 1em;
  background-color: var(--rosepale2022);
}

.menu {
  background-color: var(--rosepale2022);
}

.menu a {
  color: var(--rosefuschia2022);
  font-size: 1.3rem;
}

.content {
  grid-column: 2 / 3;
  margin-top: 1em;
}

.references-images-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  background-color: white;
  margin-bottom: 1em;
  border-radius: 0.3rem;
}
.references-images-layout img {
  max-width: 8em;
  max-height: 8em;
  margin: 1em;
}

.groups-images-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

  background-color: white;
  margin-bottom: 3em;
  border-radius: 0.3rem;
}
.groups-images-layout img {
  max-width: 8em;
  max-height: 8em;
  margin: 1em;
}

.footer {
  grid-column: 2 / 3;

  display: flex;
  justify-content: center;
}

.texte {
  display: flex;
  justify-content: space-between;
}

.paragraphe {
  background-color: white;
  
  padding-top: 4rem;
  padding-right: 3rem;
  padding-bottom: 6rem;
  padding-left: 3rem;

  margin-bottom: 1em;
}

.paragraphe p {
  color: black;
  text-align: justify;
  font-size: 1.2rem;
}
.paragraphe h1 {
  color: var(--rosefuschia2022);
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.paragraphe h2 {
  color: var(--bleu2022);
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.paragraphe a {
  color: var(--orange2022);
  text-align: justify;
  text-decoration: underline;
  font-size: 1.2rem;
}
.paragraphe a:hover {
  text-decoration: none;
}

.p-inline p {
  display: inline;
}

.emphase {
  background-color: var(--rosepale2022);
  margin-top: 3rem;
  padding-top: 4rem;
  padding-right: 3rem;
  padding-bottom: 6rem;
  padding-left: 3rem;

  margin-bottom: 1em;
}
.emphase p {
  color: var(--bleu2022);
  text-align: justify;
  font-size: 1.2rem;
}

.cols-layout {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: center;
  align-items: center;
}
.right-col img {
  max-width: 12em;
  justify-self: right;
  margin-left: 1em;  
}

.btn-link {
  color: white
}
.btn-link:hover {
  color: var(--orange2022);
}
.btn-link:focus {
  color: var(--orange2022);
}

hr {
  background-color: var(--dark-orange);
}
@media only screen and (min-width: 1200px) {
  .main-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .header > img {
    max-height: 10em;
    width: auto;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .main-layout {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }

  .header > img {
    max-height: 8em;
    width: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .main-layout {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
  }

  .header > img {
    max-height: 6em;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .main-layout {
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
  }

  .header > img {
    max-height: 4em;
    width: auto;
  }
}